<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Memory</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>

<div class="container">
    <div id="app"></div>
</div>

<footer class="footer">
    <section class="container">
        <hr>
        Check out <a href="https://github.com/XOP/memory-react" target="_blank">memory-react</a> on Github
    </section>
</footer>

</body>
</html>
